nav{
    position: absolute !important;
    z-index: 1;
    padding-left: 150px !important;
    font-weight: bold;
    
    
    
}

.carrusel{
    
}
.icono{
    width: 30px;
}
.quienes{
    background-color: black;
    height: 500px;
}
